:root{
    --c1: #ccc;
    --c2: #ccc;
    --c3: #ccc;
    --c4: #ccc;
    --bg: #ccc;

    --c-main: black;
    --c-alt: white;
}

::selection{
    background-color: var(--c2);
    color: var(--main);
}

/* Rosario */
@font-face {
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Rosario'), local('Rosario-Regular'),
         url('../fonts/Rosario-Regular.woff2') format('woff2'),
         url('../fonts/Rosario-Regular.woff') format('woff');
  }
  
@font-face {
    font-family: 'Rosario-Bold';
    font-style: bold;
    font-weight: 600;
    font-display: swap;
    src: local('Rosario Bold'), local('Rosario-Bold'),
         url('../fonts/Rosario-Bold.woff2') format('woff2'),
         url('../fonts/Rosario-Bold.woff') format('woff');
}
  
@font-face {
    font-family: 'RosarioiItalic';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: local('Rosario Italic'), local('Rosario-Italic'),
         url('../fonts/Rosario-Italic.woff2') format('woff2'),
         url('../fonts/Rosario-Italic.woff') format('woff');
  }

  /* Karrik */

@font-face {
    font-family: 'Karrik';
    font-style: bold;
    font-weight: 600;
    font-display: swap;
    src: local('Karrik Regular'), local('Karrik-Regular'),
         url('../fonts/Karrik-Regular.woff2') format('woff2'),
         url('../fonts/Karrik-Regular.woff') format('woff');
}

body{
    padding: 0;
    margin: 0;
    background-color: var(--bg);
    font-family: 'Rosario', serif;
    font-size: 20px;
}

main{
    display: grid;
    grid-template-columns: 1.1fr minmax(300px, 1024px) 0.9fr;
    grid-gap: 3vw;
}

.home-section{
    grid-column: 2;
    margin-top: 100px;
}

main section{
    grid-column: 2;
}

#bgIntro{
    background-color: var(--c3);
    transition: background-color 1000ms;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

#bgIntroSingle{
    background-color: var(--c3);
    transition: background-color 1000ms;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 230px;
    z-index: -1;
}

#Intro{
    min-height: calc(93vh - 100px);
    padding-top: 0;
}

.icon{ 
    height: 0.8em; 
    transition: filter 250ms;
}

.icon:hover{
    filter: invert(100%);
}

#external-links{
    display: grid;
    grid-gap:20px;
    width: 40px;
    justify-items: center;
    align-items: center;
}

.contact{
    margin-top: 1vw;
    margin-left: 3vw;
    display: inline-block;
}

.icon-footer{
    width: 100%;
    transition: filter 200ms;
}

.icon-footer:hover{
    filter: invert(85%);
}

#CC-license{
    position: absolute;
    right: 3px;
    margin-top: 3px;
    mix-blend-mode: color-burn;   
}

.logo-small{
    display: none;
}

#header-fallback{
    opacity: 0;
}

h1{
    font-family: 'Karrik', sans-serif;
    font-size: 2.5em;
    margin-top: 170px;  
}

#content h2,h3{
    margin-top: 4em;
    line-height: 1.2em;
}

#content{
    font-size: 1.1em;
    line-height: 1.4em;
}

#meta{
    position: absolute;
    right: 1em;
    margin-top: 235px !important;
    padding-top: 0px !important;
    top: 0;
    text-align: right;
}

#singleTitle{
    margin-top: 210px;
}

#singleTags li{
    list-style-type: none;
} 

#singleTags{
    display: grid;
    justify-items: end;
}

#previousAndNextPosts{
    position: absolute;
    width: 45vw;
    margin-left: 1em;
    line-height: 1.5em;
}

.previous{
    margin-right: 2em;
    margin-bottom: 1em;
    display: inline-block;
}


.next{
    display: inline-block;
}

#date{
    margin-bottom: 10px !important;
}
#wordcount{
    margin: 0 !important;
}

#Intro h2{
    margin-top: 0em !important;
    padding-top: 8vh;
    font-family: 'Karrik', sans-serif;
    font-size: clamp(1.6em, 4.5vh, 2.9em); 
    line-height: 1.2em;
}

.home-section h3{
    margin-top: 0em !important;
    font-family: 'Karrik', sans-serif !important;
    font-size: 2em !important;
    line-height: 1.3em;
    color: var(--c-main);
    text-align: center;
}

.home-section h4{
    margin-top: 0em !important;
    font-family: 'Rosario', sans-serif;
    font-size: 1.2em;
    line-height: 1.3em;
}

a{ 
    text-decoration-color: var(--c1);
    color: var(--main);
    text-decoration-thickness: 3px;
    transition: color 250ms;
}

a:hover{ 
    color: var(--c1) !important;
    text-decoration: none;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

#main-menu{
    position: fixed;
    bottom: 0.5em;
    right: 0.5em;
    margin-left: 0.5em;
}

#main-menu a{
    font-size: clamp(1.2em, 2.2vh, 1.5em); 
    margin-left: 1vw;
    line-height: 2.6em;
    padding: 0.4em 1em 0.5em 1vw;
    cursor: pointer;
    color: var(--main);
}

#projects{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    grid-gap: 10px;
}

#projects a{
    display: block;
    width: 100%;
    height: 160px;
    border-radius: 90px;
    background-color: var(--c-main);
}

footer{
    margin-top: 12em;
    width: 100%;
    height: 320px;
    background-color: var(--c2);
    transition: background-color 200ms;
}

#wrapperList{
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
}

#headerList header h1{
    margin-top: 0em !important;
}

#headerList p{
    margin: 0em !important;
}

#postList{
    list-style-type: none;
    grid-row: 2;
    padding-left: 0px !important;
    margin-left: -10px;
}

#bgList{
    background-color: var(--c3);
    transition: background-color 1000ms;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

#toPost{
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: calc(6px + 1vw);
    margin-bottom: 2em;
}

#postTitle{
    grid-column: 2;
    grid-row: 3;
    font-size: 2em;
    margin-top: 0.5em;
    font-family: 'Karrik', sans-serif;
    padding-bottom: 0.2em;
    text-decoration: none;
    border-bottom: 3px solid var(--c1);
    width: 100%;
}

#postYear{
    border-right: 3px solid var(--c2);
    color: var(--c2);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    grid-column: 1;
    grid-row: 1 / 4;
    align-self: center;
    writing-mode: vertical-lr;
    font-size: 1.5em;
    text-shadow: 0px 0px 4px rgba(0,0,0,0.3);
    font-family: 'Karrik', sans-serif;
}

#postDate{
    color: var(--c2);
    font-size: 1.3em;
    text-shadow: 0px 0px 4px rgba(0,0,0,0.3);
}

#dateANDtagsContainer{
    display: grid;
    grid-row: 1;
    grid-template-columns: max-content 2fr;
}

#postTitle{
    grid-row: 2;
}

#postDescription{
    grid-row: 4;
    margin-top: 0.5em;
    min-height: 3em;
    opacity: 0;
    pointer-events: none;
    transition: opacity 500ms;
}

#postTitle:hover ~ #postDescription{
    display: block;
    opacity: 1;
    height: max-content;
    pointer-events: all;
}

#postTags{
    display: flex;
    justify-content: end;
    grid-auto-rows: auto;
    list-style: none;
}

.postTag{
    text-decoration: none;
    border: 0px solid transparent;
    grid-column: auto;
    cursor: pointer;
    background-color: var(--c1);
    color: black;
    width: max-content;
    height: 20px;
    font-size: 0.9em !important;
    justify-self: center;
    text-align: center;
    padding: 0.3em 0.9em 0.4em 0.9em;
    margin-left: 2px;
    margin-bottom: 0.2em;
    border-radius: 2em;
    transition: background-color 600ms, color 200ms;
    margin-left: 1vw;
    margin-bottom: 10px;
    display: block;
    text-align: right;
}

.postTag:hover{
    color: var(--c1);
    background-color: transparent;
    text-shadow: 0px 0px 4px rgba(0,0,0,0.5); 
}

.visible{ opacity: 1; }

.invisible{ opacity: 0; }

@media (max-width: 720px) {

    #postTitle{
        font-size: 1.5em;
    }

    #postYear{
        font-size: 1em;
    }

    #postDate{
        font-size: 1em;
        grid-column: 1 / -1;
    }

    #postTags{
        margin-top: 12px;
        display: block;
        grid-column: 1 / -1;
        padding-left: 0px !important;
    }

    #postTags a{
        break-inside: avoid;
        line-height: 2.2em;
        font-size: 0.8em;
    }
}