<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
  {{- partial "head.html" . -}}
  <body>
    {{- partial "header.html" . -}}
    <main>
      {{- block "main" . }}{{- end }}
    </main>
    {{- partial "footer.html" . -}}
  </body>


        <main>

            <section id="Intro">
                <h2>
                    We are an allied group of intersectional feminist strategists, ethicists and cultural anthropologists. <br>
                    <br>
                    Economikit offers infrastructure for moral responsibility and greater belonging. <br>
                    <br>
                    <a href="#"><img class="icon" src="imgs/github.png" alt=""></a> <a href="#"><img class="icon" src="imgs/twitter.png" alt=""></a>
                </h2>

            </section>

            <section id="How-we-work">
                <h3>How we work</h3>
                <h4>
                    Presenting a vision of stewardship for the Holochain ecosystem and its intersection with other projects promoting justice and autonomy from systems of economic oppression. <br>
                    <br>
                    Read our <a href="#">engagement criteria</a>.
                </h4>
            </section>

            <section id="What-we-are-creating">

                <h3>What we are creating</h3>
                <h4>
                    We build tools which provision for the necessities of life whilst making possible complex cross-cultural intersections and humane and vibrant modes of relating, exchanging, and caring for self, other, and community.
                </h4>

                <div id="projects">
                    <a href="#ValueFlows-GraphQL">
                        <img src="" alt="">
                    </a>

                    <a href="#Holo-REA">
                        <img src="" alt="">
                    </a>

                    <a href="#ValueFlows-UI">
                        <img src="" alt="">
                    </a>

                    <a href="#Sacred-Capital-Reputation-Economy">
                        <img src="" alt="">
                    </a>

                    <a href="Neighbourhoods">
                        <img src="" alt="">
                    </a>

                    <a href="The-Kit">
                        <img src="" alt="">
                    </a>
                </div>

                <section id="ValueFlows-GraphQL">

                    <h3>ValueFlows GraphQL</h3>
                    <h4>
                        A new sociopolitical order needs a new measurement system. The ValueFlows protocol reimagines accounting as a rich multidimensional weave of attributable information that can be deeply representative of reality, whilst GraphQL brings these possibilities to the next generation of distributed computing. <br>
                        <br>
                        <a href="https://valueflo.ws" target="__blank">More about ValueFlows and REA Accounting</a> <br>
                        <br>
                        <a href="https://lab.allmende.io/valueflows/vf-schemas/vf-graphql" target="__blank">More about the modular ValueFlows GraphQL Protocol</a>
                    </h4>

                </section>

                <section id="Holo-REA">

                    <h3>Holo-REA</h3>
                    <h4>
                        Modular building blocks for the P2P economy&mdash; built to deploy fractally composable, off-grid capable, sovereign social, economic and resource coordination spaces of any scope and scale.<br>
                        <br>
                        <a href="https://github.com/holo-rea/holo-rea/#readme" target="__blank">More about Holo-REA</a> <br>
                        <br>
                        <a href="https://github.com/holo-rea/ecosystem/wiki/Modules-in-the-HoloREA-framework" target="__blank">Modules in the Holo-REA framework</a>
                    </h4>

                </section>

                <section id="ValueFlows-UI">

                    <h3>ValueFlows UI</h3>
                    <h4>
                        What is an economic system without an interface? ValueFlows UI packages zero-dependency, zero-configuration building blocks for socioeconomic applications which work atop Holo-REA, <a href="https://commonspub.org/" target="__blank">Bonfire</a> and any other system implementing the ValueFlows protocol.<br>
                        <br>
                        <a href="https://lab.allmende.io/valueflows/app-frameworks/vf-ui/-/issues" target="__blank">Work ongoing in the ValueFlows UI initiative</a>
                    </h4>

                </section>

                <section id="Sacred-Capital-Reputation-Economy">

                    <h3>Sacred Capital (the reputation economy)</h3>
                    <h4>
                        Reputation Infrastructure for the distributed economy. Sacred Capital is building a formal language for cultural articualtion, coupled with a 'Reputation Vault' that enables agents to port reputation data across contexts. By activating scalable reputation currencies, they hope to build a multi-dimensional wealth system in the long term. <br>
                        <br>
                        <a href="https://www.sacred.capital/" target="__blank">Visit Sacred Capital's website</a>
                    </h4>

                </section>

                <section id="Neighbourhoods">

                    <h3>Neighbourhoods</h3>
                    <h4>
                        An over-arching design principle for the distributed economy. 'Neighbourhoods' offers a new way to think about organising network of people and resources. By articulating 'specific culture' using 'generic tools' communities, apps and micro-networks build contextual pathways for the flow of capital and content.
                    </h4>

                </section>

                <section id="The-Kit">

                    <h3>The Kit</h3>
                    <h4>
                        The journey toward a thriving future is long and unknowable. Our work in how we relate, who seeks us out and what we do together is to humbly make the creation of our own digital and economic freedoms accessible to all. <br>
                        <br>
                        We seek to make the organisation the kit, and the kit the organisation. To create artifacts through our lived experience and the guidance of others which empower groups of all kinds in radical and emancipatory ways.
                    </h4>

                </section>

            </section> <!--End-what-we-are-creating-->
        </main>

    </body>

</html>
<script type="text/javascript" src="script.js"></script>
