{{ define "main" }}
<div id="bgList"></div>
<main id="wrapperList">
    <article id ="headerList">
        <header>
            <h1>{{ .Title }}</h1>
        </header>
        {{ .Content }}
    </article>
    <ul id="postList">
        {{ range .Data.Pages }}
        <li class="toPost">
            <div class="postYear">{{ .Date.Format "2006" }}</div>
            <div class="dateANDtagsContainer">
                <div class="postDate">{{ .Date.Format "Jan 2" }}</div>
                <ul class="postTags">
                    {{ range (.GetTerms "tags") }}
                        <li><a class="postTag" href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
                    {{ end }}
                </ul>
            </div>
            <a class="postTitle" href="{{ .RelPermalink }}">{{ .Title }}</a>
            <section class="postDescription">
                {{ .Summary }}
            </section>
        </li>
        {{ end }}
    </ul>
</main>
<style>
    footer{
        background-color: var(--c2);
    }
</style>
{{ end }}
