{{ define "main" }}
<div id='bgIntroSingle'></div>
<section id="main">
  <h1 id="singleTitle">{{ .Title }}</h1>
  <div>
        <article id="content">
           {{ .Content }}
        </article>
  </div>
</section>
<div id="previousAndNextPosts">
  {{ with .PrevInSection }}
  <a class="previous" href="{{.RelPermalink}}">&#8592; {{.Title}}</a>
  {{ end }}
  {{ with .NextInSection }}
    <a class="next" href="{{.RelPermalink}}"> {{.Title}}  &#8594;</a>
  {{ end }}
</div>
<aside id="meta">
    <div>
    <section>
      <h4 id="date"> {{ .Date.Format "Mon Jan 2, 2006" }} </h4>
      <h5 id="wordcount"> {{ .WordCount }} Words </h5>
    </section>
    {{ with .Params.topics }}
    <ul id="topics">
      {{ range . }}
        <li><a href="{{ "topics/" | relURL}}{{ . | urlize }}">{{ . }}</a> </li>
      {{ end }}
    </ul>
    {{ end }}
    {{ with .Params.tags }}
    <ul id="singleTags">
      {{ range . }}
        <li> <a class="postTag" href="{{ "tags/" | relURL }}{{ . | urlize }}">{{ . }}</a> </li>
      {{ end }}
    </ul>
    {{ end }}
    </div>
</aside>
{{ end }}
