<footer id="main-footer">
  <section class="contact" itemscope itemtype="http://schema.org/Organization">
    <p class="logo-small">
      <a itemprop="url" href="https://economikit.org"><span itemprop="name">economikit</span>.org</a>
    </p>

    <p id="external-links">
      <a href="https://www.loomio.org/economikit/" target="_blank" title="Loomio"><img class="icon-footer" src="{{ "imgs/loomio.png" | relURL }}" alt="Economikit loomio"></a>
      <a href="https://github.com/economikit-alliance" target="_blank" title="Github"><img class="icon-footer" src="{{ "imgs/github.png" | relURL }}" alt="Economikit github"></a>
      <a href="https://twitter.com/economikit" target="_blank" title="Twitter"><img class="icon-footer" src="{{ "imgs/twitter.png" | relURL }}" alt="Economikit Twitter"></a>
    </p>
  </section>

  <a id="CC-license" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>

  {{- partial "menu.html" . -}}
</footer>
