<footer id="main-footer">
  <section class="contact" itemscope itemtype="http://schema.org/Organization">
    <p class="logo-small">
      <a itemprop="url" href="https://economikit.org"><span itemprop="name">economikit</span>.org</a>
    </p>
    <p>
      <a href="https://github.com/economikit-alliance" target="_blank" title="Github"><i class="icon-github"></i></a>
      <a href="https://twitter.com/economikit" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
    </p>
  </section>
</footer>
