<head>
  <meta charset="utf-8">
  <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}economikit{{ end }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}" type="text/css" />
  <link rel="stylesheet" href="{{ "css/logo.css" | relURL }}" type="text/css" />
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <!--
  <script src="d3-color.min.js"></script>
  <script src="d3-timer.min.js"></script>  
  <script src="d3-dispatch.min.js"></script>
  <script src="d3-selection.min.js"></script>
  <script src="d3-transition.min.js"></script>
  -->

  {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
</head>
