<script>
  {{ if eq $.Type "home" }}
    import("{{ "init-home.js" | relURL }}");
  {{ else }}
    import("{{ "init.js" | relURL }}");
  {{ end }}
  window.supportsDynamicImport = true;
</script>
<script>
  if (!window.supportsDynamicImport) {
    const systemJsLoaderTag = document.createElement('script');
    systemJsLoaderTag.src = '{{ "systemjs/systemjs-2.0.0.js" | relURL }}';
    systemJsLoaderTag.addEventListener('load', function () {
      {{ if eq $.Type "home" }}
        System.import("{{ "nomodule/init-home.js" | relURL }}");
      {{ else }}
        System.import("{{ "nomodule/init.js" | relURL }}");
      {{ end }}
    });
    document.head.appendChild(systemJsLoaderTag);
  }
</script>
