{{ define "main" }}
<div id="bgList"></div>
<main id="wrapperList">
    <article id ="headerList">
        <header>
            <h1>{{ .Title }}</h1>
        </header>
        {{ .Content }}
    </article>
    <ul id="postList">
        {{ range .Data.Pages }}
        <li class="bio-section">
            <h1 class="postTitle">{{ .Title }}</h1>
            <section class="postDescription">
                {{ .Content }}
            </section>
        </li>
        {{ end }}
    </ul>
</main>
<style>
    footer{
        background-color: var(--c2);
    }
</style>
{{ end }}
